@charset "UTF-8";
*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
}
body{
    background-image: url(../imagens/27065-Elden-Ring-4k-Ultra-HD-Wallpaper.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: calc(50, 50);
}

header{
    background-color: rgba(128, 128, 128, 0.301);
    height: 57px;
    margin-bottom: 100px;
}

h1{
    color: white;
    text-align: center;
    padding: 10px;
    text-shadow: 2px 3px 2px rgba(0, 0, 0, 0.719);
}

p{
    text-align: center;
    font-size: 0.8em;
    color: white;
}

main{
    background-color:rgba(255, 255, 255, 0.322);
    width:300px;
    margin: auto;
    padding: 10px;
    border-radius: 10px;
} 

main > section > iframe{
    width: 300px;
    height: 150px;

}

main > section > h2{
    text-align: center;
    padding: 30px;
}

footer{
    text-align: center;
    margin-top: 100px;
    font-size: 0.8em;
}

@media screen and (min-width: 800px){
    
    main{
        background-color: rgba(251, 251, 252, 0.192);
        width:450px;
       
    }
    
    main > section > iframe{
        width: 450px;
        height: 225px;
        margin-top: 60px; 
    
    } 
    
    main > section > h2{
        display: none;
    }
}