@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-image: url(../imagens/pexels-pixabay-161154.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

header{
    background-image:linear-gradient(to bottom, rgb(3, 94, 136) 10%, silver );
    height: 100px;
    box-shadow: 5px 1px 12px black;
    margin-bottom: 130px;
    
}

h1{
    color: white;
    text-align: center;
    padding-top: 20px;
    text-shadow: 2px 2px 3px  rgba(0, 0, 0, 0.856);
    font-size: 2em;
    
}

main {
    background-color: rgba(255, 255, 255, 0.712);
    margin: auto;
    width: 75vw;
    max-width:600px ;
    border-radius: 15px;
}

main > section > h2 {
    font-size: 1.7em;
    padding: 10px;
    padding-top: 20px;
    text-align: center;
}

main > section > p{
    font-size: 1.5em;
    padding: 10px;
    text-indent: 15px;
}

menu{
    display: none;
    padding-left: 40px;
    padding-top: 3px;
}

menu > ul > li > a{
    text-decoration: none;
    color:white;
    font-size: 0.8em;
}

menu > ul > li {
    background-color:rgb(48, 47, 47);
    margin-top: 1px;
    width: 137px;
    list-style-type: none;
    height: 12px;
    padding: 5px;
    border-radius: 3px;
}

menu > ul > li > a:hover{
    color: black;
}

menu > ul >li:hover{
    background-color: gray;
}

span#icone{
    cursor: pointer;
    color: white;
    padding-left: 40px;
    background-color: rgb(48, 47, 47);
    display: block;
    margin-top: 19px;
    
}

footer{
    background-color: rgb(77, 224, 9);
    text-align: center;
    padding: 3px;
    margin-top: 150px;
}

footer > p{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: white;
    font-size: 1.2em;
}

/*para telas acima de 800px*/

@media  screen and (min-width: 800px) {
    span#icone{
        display: none;
    }
    menu{
        display: block; 
        padding-left: 15px;
    }
    menu > ul > li{
        display: inline-block;
        margin-top: 8px;
        height: 18px;
        padding: 5px;
        text-align: center;
    }
} 
